@model HKBookStore.WebApp.Models.PaymentResponseModel
@{
    ViewBag.Title = "PaymentConfirm";
}

<div class="container p-3">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt Hàng Thành Công!</h1>
        Mã đơn hàng của bạn là : @Model.OrderId <br /><br />
        @*<img src="~/images" width="65%" />*@
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        <span>Đơn hàng của bạn vừa được đặt thành công</span>
        @if(Model.Success){
            <span>và đã thanh toán thành công!</span>
        }
        else{
            <span>, nhưng chưa được thanh toán. Bạn cần phải thanh toán.</span>
        }
        <br />
    </div>
</div>



