@model HKBookStore.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Đăng nhập</li>
</ul>

<div class="container-fluid bg-secondary">
    <div class="row justify-content-md-center py-4 px-xl-5">
        <div class="col-md-4 col-12 py-1">

            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="tab-login" href="#" >Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-register" href="/Account/Register">Đăng ký</a>
                </li>
            </ul>
            <!-- Pills navs -->
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form action="/Account/Login" method="post">
                        <div class="text-center mb-3">
                            <p>Đăng nhập với:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>

                        <p class="text-center">hoặc:</p>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="inputEmail">Email</label>
                            <input type="text" name="UserName" placeholder="Email" class="form-control" />
                            <span asp-validation-for="UserName" class="text-error"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="inputPassword1">Mật khẩu</label>
                            <input type="password" name="Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-error"></span>
                        </div>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Simple link -->
                                <a href="#!">Quên mật khẩu?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Chưa có tài khoản? <a href="#!">Đăng ký</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Pills content -->
        </div>
    </div>
</div>